<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <div id="main_area">
    <div class="container">
      
      <h1><%= title %></h1>
	  
      <div class="panel panel-default">
        <div class="panel-body">

	      
	      <p>Please see <a href="https://github.com/ernoma/scratch-up-catalog">GitHub project page</a> for general project description and info.</p>
	  
  <h2>Notes:</h2>


  <h3>Projects</h3>

  <p>Goals:
    <ul>
      <li>Ideas are started to implement quickly
      <li>Implement projects quickly
    </ul>
  </p>

  <ul>
    <li>katalogiin laitetaan ideoita</li>
    <li>voisiko katalogi olla lista, jota voi filteröidä ja sortata tyyliin http://opencatalog.darpa.mil/ vai olisiko parempi jokin olemassa oleva muu forumi tai jokin täysin uusi tapa; Heidillä oli tähän jotakin UI ideaa
    <li>kun ideaa aletaan toteuttaa -> näytetään mitä muualla esim. sovelluksen sivu tai esim. github-projektin olemassa olo; miten päivitys mahd. helposti käyttäjälle?
    <li>categories: just idea -> cat gold, implementation finished -> platinium, happy customers -> diamond
    <li>Upvote ideas
  </ul>


  <p>Katalogiin:
    <ul>
      <li>ideoiden esittäminen toteutusasteen mukaan
      <li>näytä projektien toteuttaminen omana prosessinaan eli hieman = lessons learned/blogi jota ihmiset voivat seurata
      <li>viittauksia kirjallisuuteen projektin toteutuksen suhteen?
    </ul>
  </p>


  <h3>Skills</h3>

    <p>Oman (katalogin käyttäjän) osaamisen esittäminen:
  <ul>
    <li>hyvässä muodossa
    <li>yksityiskohtaisesti
    <li>niin, että muut palvelun käyttäjät ymmärtävät osaamisen
    <li>siten, että saa töitä, jotka
      <ul>
        <li>kiinnostaa
        <li>oppii
        <li>ansaitsee rahaa
        <li>tms.
      </ul>
  </ul>
  </p>

  <p>Tämän jälkeen katalogin asiakkaiden tarpeet yleisesti, esim.
    <ul>
      <li>hyvä tiimi
      <li>sijainti (plussaa vaikka verkko mahdollistaa paljon etänä)
      <li>...
    </ul>
  <p>

  <p>Esittämisestä:
  <ul>
  <li>parhaiten tullee ymmärrettävästi esiin, kun näkee tiiviisti mutta yksityiskohtaisesti käytännössä osaamisen, jos mahdollista esittää
  <li>pitää siis olla työkalut, joilla oman osaamisen saa helposti ja hyvin esiin
  <li>jos webissä on jotakin, niin tuo ne näkyviin (kooste + linkit, tms.)
    <ul>
    <li>linkedin
    <li>github, yms.
    <li>oma cv
    <li>stackoverflow, yms.
    <li>omat sivustot, sovellukset esim. sovelluskaupoissa
    <li>kuvankaappauksia?
    <li>tieteelliset artikkelit?
    <li>tietokannat, yms.
    <li>kokemus
    <li>ks. linkedin ja ehkä muutkin mutta ensin omasta mietinnästä
    </ul>
  <li>Ylläolevista monet aika kehittäjäkeskeisiä eli katalogin kannalta on oleellista saada muunkinlaisten käyttäjien näkemyksiä
  <li>oleellista on tuoda yllä olevat asiat esiin, niin että saa haluamiaan töitä
  <li>myös "pehmeä" osaaminen kuten tunne, tms. esiin ja kielitaidot ja tyypilliset CV:n sisällöt
  </ul>
  </p>

  <h3>General ideas</h3>

  <ul>
    <li>blockchain (ehkä esim. https://github.com/bitpay/bitauth) tunnistautuminen olisi ehkä toimivin (facebook, google yms. ehkä silti myös); toisaalta garbagepla.net projektin tarkoitus käyttää glomea (http://glome.me/)
    <li>API mukaan esim. käyttäjä-tietojen ja ideoiden hakemiseen
    <li>käyttäjän ja ideoiden tai yleensäkin osasten upotus mainoksina eri sivustoille (google adds?)?
    <li>Do any of the current forums have open source implementation or have API that could be used, for example to retrieve volunteering people?
  </ul>

	</div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#about').addClass("active");
    });
  </script>
</body>
</html>
