<footer><!--&copy; Katso lisenssiehdot <a href="/about">sovelluksesta-sivulta</a>. Sisältää Tampereen kaupungin, Maanmittauslaitoksen, ITS Factoryn, Teoston, ja OpenStreetMap:n avointa dataa.--></footer>
