<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <% include navbar %>
  <div class="container">
    
    <h1>Add Idea</h1>

    <div class="panel panel-default">
        <div class="panel-body">
	  <form>
	    <div class="form-group">
	      <label for="title">Title</label>
	      <input type="text" class="form-control" id="title" placeholder="Title for the idea">
	    </div>
	    <div class="form-group">
              <label for="description">Description</label>
	      <textarea class="form-control" rows="10" id="description" placeholder="Detailed description of the idea"></textarea>
	    </div>
	    <div class="form-group">
	      <label for="roles">Roles</label>
	      <span id="roles" class="help-block">Select roles for wanted volunteers</span>
	      <% for(var i = 0; i < roles.length; i++) {%>
		 <label class="checkbox">
		   <input type="checkbox" value="" id="role_<%= roles[i].short_name %>">
		   <%= roles[i].name %>
		 </label>
	      <% } %>
	      <div class="row">
		<div class="col-md-1">
		  <label class="checkbox">
                    <input type="checkbox" value="" id="role_other">
		    Other:
		  </label>
		</div>
		<div class="col-md-11">
		  <input type="text" class="form-control" id="role_other_description" placeholder="Describe..." disabled>
		</div>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="photo">Photo</label>
	      <span class="help-block">For advertisement</span>
	      <input type="file" id="photo" accept="image/*">
	    </div>
	    <div class="form-group">
	      <label for="status">Status</label>
	      <span class="help-block">Current status of the idea</span>
	      <div class="btn-group">
		<button id="status" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Cat gold - Just idea <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="#">Gold - Under implementation</a></li>
		  <li><a href="#">Platinium - Implemented</a></li>
		  <li><a href="#">Diamond - Happy customers</a></li>
		</ul>
	      </div>
	    </div>
            <div class="form-group">
              <label for="site">Site</label>
	      <span class="help-block">You may include if there is already a web page or site for the idea</span>
              <input type="text" class="form-control" id="title" placeholder="http://yourideasite.com/">
            </div>
	    
	    <div class="row">
	      <div class="col-md-1">
	      	<button type="submit" class="btn btn-primary">Submit</button>
	      </div>
	      <div class="col-md-11">
		<div class="checkbox">
		  <label>
		    <% if (typeof user == "undefined") { %>
		    <input type="checkbox" id="cb_include_user_for_idea"> Include my name and contact info with the idea
		    <% } else { %>
		    <input type="checkbox" id="cb_include_user_for_idea" checked> Include my name and contact info with the idea
		    <% } %>
		  </label>
		</div>
	      </div>
	    </div>
	  </form>
	</div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="/js/idea.js"></script>
</body>
</html>
