<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <% include navbar %>

  <h2>Notes:</h2>
  <ul>
    <li>blockchain tunnistautuminen olisi ehkä toimivin (facebook, google yms. ehkä silti myös)
    <li>API mukaan esim. käyttäjä-tietojen ja ideoiden hakemiseen
    <li>käyttäjän ja ideoiden tai yleensäkin osasten upotus mainoksina eri sivustoille (google adds?)?
  </ul>
  <!--<div id="main_area">
    <div class="container">
    </div>
  </div>--><!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
