<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <div class="container">
    <section id="signup">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <a href="#" class="btn btn-warning btn-lg" onclick="$(this).closest('form').submit()">Signup</a>
	</form>

	<hr>

        <p>or</p><a href="/auth/facebook" class="btn btn-primary-bs"><span class="fa fa-facebook"></span> Signup with Facebook</a> 

	<hr>

<p>or</p><a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Signup with Google</a>


	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
      
      </div>
    </div>
    
    <hr>
    </section>
    <% include footer %>
  </div>
  <!-- /container -->
  <script src="/vendor/js/jquery.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  <script src="/vendor/js/jquery.easing.min.js"></script>
  <script src="/vendor/js/jquery.fittext.js"></script>
  <script src="/vendor/js/wow.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="/vendor/js/creative.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
    $('#signup').addClass("active");
    });
  </script>
</body>
</html>
