<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <% include navbar %>

  <h2>Notes:</h2>
  
  <p>Oman (katalogin käyttäjän) osaamisen esittäminen:
  <ul>
    <li>hyvässä muodossa
    <li>yksityiskohtaisesti
    <li>niin, että muut palvelun käyttäjät ymmärtävät osaamisen
    <li>siten, että saa töitä, jotka
      <ul>
	<li>kiinnostaa
	<li>oppii
	<li>ansaitsee rahaa
	<li>tms.
      </ul>
  </ul>
  </p>
  
  <p>Tämän jälkeen katalogin asiakkaiden tarpeet yleisesti, esim.
    <ul>
      <li>hyvä tiimi
      <li>sijainti (plussaa vaikka verkko mahdollistaa paljon etänä)
      <li>...
    </ul>
  <p>

  <p>Esittämisestä:
  <ul>
  <li>parhaiten tullee ymmärrettävästi esiin, kun näkee tiiviisti mutta yksityiskohtaisesti käytännössä osaamisen, jos mahdollista esittää
  <li>pitää siis olla työkalut, joilla oman osaamisen saa helposti ja hyvin esiin
  <li>jos webissä on jotakin, niin tuo ne näkyviin (kooste + linkit, tms.)
    <ul>
    <li>linkedin
    <li>github, yms.
    <li>oma cv
    <li>stackoverflow, yms.
    <li>omat sivustot, sovellukset esim. sovelluskaupoissa
    <li>kuvankaappauksia?
    <li>tieteelliset artikkelit?
    <li>tietokannat, yms.
    <li>kokemus
    <li>ks. linkedin ja ehkä muutkin mutta ensin omasta mietinnästä
    </ul>
  <li>Ylläolevista monet aika kehittäjäkeskeisiä eli katalogin kannalta on oleellista saada muunkinlaisten käyttäjien näkemyksiä
  <li>oleellista on tuoda yllä olevat asiat esiin, niin että saa haluamiaan töitä
  <li>myös "pehmeä" osaaminen kuten tunne, tms. esiin ja kielitaidot ja tyypilliset CV:n sisällöt
  </ul>
  </p>
  <!--<div id="main_area">
    <div class="container">
    </div>
  </div>--><!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://www.webglearth.com/v2/api.js"></script>
  <script type="text/javascript" src="/js/skills.js"></script>
</body>
</html>
