<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  <div class="container">
    <section id="talents">
    <div class="page-header text-center">
      <h2>Find Talents</h2>
    </div>

    <div id="matching_talents_div">
    </div>

    <div id="nonmatching_talents_div">
    </div>
    </section>
  </div><!-- /container -->

  <% include footer %>

  <script src="/vendor/js/jquery.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  <script src="/vendor/js/jquery.easing.min.js"></script>
  <script src="/vendor/js/jquery.fittext.js"></script>
  <script src="/vendor/js/wow.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="/vendor/js/creative.js"></script>
  <script type="text/javascript">
    function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    var user = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
  </script>
  <script type="text/javascript" src="/js/talents.js"></script>
</body>
</html>
