<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <% include navbar %>

  <div class="container">

    <h1>Volunteer</h1>

    <div class="panel panel-default">
        <div class="panel-body">
	  
	  <form>
            <div class="form-group">
              <label for="roleSelect">
                Filter ideas by the role best matching your skills:
              </label>
              <select id="role_select" name="roleSelect" class="form-control">
                <option>Choose role</option>
                <% for(var i = 0; i < roles.length; i++) {%>
                   <option id="role_<%= roles[i].short_name %>"><%= roles[i].name %></option>
                <% } %>
              </select>
            </div>

          </form>
	</div><!-- /panel-body -->
    </div><!-- /panel -->
    <div class="panel panel-default" id="role_contents">
      <div class="panel-body">

	<h2>Ideas</h2>

	<ul id="idea_list" class="idea_list">
	</ul>
	
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/vendor/moment-with-locales.min.js"></script>
  <script type="text/javascript">
    function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    var user = JSON.parse(htmlDecode("<%= JSON.stringify(user) %>"));
  </script>

  <script type="text/javascript" src="/js/volunteer.js"></script>
</body>
</html>
