body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.checkbox {
    font-weight: normal;
}

/* Volunteer page */

.idea_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.idea_list_item {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
 
/* Profile page */

#tab_profile_nav {
    margin-top: 20px;
}

.profile_form_div {
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
}

.profile_div_form_list_item {
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

#user_profile_skill_button {
    margin-bottom: 20px;
}

.profile_list_item_info {
    padding-bottom: 5px;
}

.profile_buttons_div {
    margin-top: 5px;
}

/* Talents page */

.talents_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.talents_list_item {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin: 0px 00px 20px 0px;

}
