body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.checkbox {
    font-weight: normal;
}

.idea_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.idea_list_item {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}